AutoShield for Azure: Smart IP Whitelisting and Firewall Sync Engine/IPExtractionCode/IPPipeline.json
{
    "name": "ippipeline",
    "objectId": "fa19f038-718b-416b-983d-99d66e5baa56",
    "properties": {
        "activities": [
            {
                "name": "ExtractHref",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetWebPage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "hrefParts",
                    "value": {
                        "value": "@skip(split(activity('GetWebPage').output.Response, 'href=\"'),1)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ForEachHref",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "ExtractHref",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@variables('hrefParts')",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "ExtractUrl",
                            "type": "AppendVariable",
                            "dependsOn": [],
                            "typeProperties": {
                                "variableName": "urlList",
                                "value": {
                                    "value": "@first(split(item(),'\"'))",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "FilterUrl",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "ForEachHref",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@variables('urlList')",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@contains(item(), '.json')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "GetWebPage",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "method": "GET"
                },
                "externalReferences": {
                    "connection": "863e2617-dcd7-4544-a197-41a104fb0093"
                }
            },
            {
                "name": "ExtractIPData",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "FilterUrl",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "bda451d7-2e3a-4234-ac95-79a5c35d76e1",
                    "workspaceId": "422bf262-0657-4404-8a90-c5ed78962a1b",
                    "parameters": {
                        "DownloadURL": {
                            "value": {
                                "value": "@trim(activity('FilterUrl').output.Value[0])",
                                "type": "Expression"
                            },
                            "type": "string"
                        }
                    }
                }
            },
            {
                "name": "AddorRemoveNeworOldIPs",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "ExtractIPData",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Sync_AzureIPRangesFlat]"
                },
                "connectionSettings": {
                    "name": "ipdb",
                    "properties": {
                        "annotations": [],
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                            "workspaceId": "422bf262-0657-4404-8a90-c5ed78962a1b",
                            "artifactId": "03c2224f-4ffd-42ef-90f0-491bbf429735"
                        },
                        "externalReferences": {
                            "connection": "8fd08671-41fa-41b5-850b-364ecada19cf"
                        }
                    }
                }
            }
        ],
        "variables": {
            "hrefParts": {
                "type": "Array"
            },
            "urlList": {
                "type": "Array"
            }
        },
        "lastPublishTime": "2025-11-02T08:54:43Z",
        "lastModifiedByObjectId": "0e72a922-e84b-4f58-bcf0-3b078dc23c80"
    }
}
